<div class="section">
  <h5 class="section-label">Careers</h5>
  We’re looking for people who demonstrate deep curiosity about business challenges/issues, possess entrepreneurial drive and exhibit critical thinking.

  <div class="section">
    <div class="row">
      <div class="columns six">
        <img src="images/careers-1.jpg" alt="" width="100%">
        <div class="section">
          <h3>Senior Product Designer</h3>
          We turn hard data into useful insights and compelling stories. From optimizing our site to guiding on-the-ground operations, we love to challenge conventional wisdom.
        </div>
      </div>
      <div class="columns six">
        <img src="images/careers-2.jpg" alt="" width="100%">
        <div class="section">
          <h3>Business Analyst</h3>
          In today’s complex business environment, an organization’s adaptability, agility, and ability to manage constant change through innovation can be keys to success.
        </div>
      </div>
    </div>
  </div>
  

</div>
