<div class="container">
  <a href="" class="logo"></a>  
</div>

<div class="hero-content">

  <div class="container">

    <h1 class="post-title">An Evidence-based Business Consulting Company </h1>  
    <p>
      Bright is an evidence-based business consulting company. We use data to enable our clients to address marketing issues that can achieve growth and success for their brands. We deliver beyond research -- our in-depth involvement in the business allows us a more holistic understanding of the brand and category, allowing us more insight into long-term decision making and strategic planning with our partners.
    </p>
    <p>
      We have a bespoke approach to consulting and a strong commitment to investing in our long-term relationships with our clients. We leverage the expertise of the team, and contribute to the growth of each person we bring in.      
    </p>


  </div>
  
</div>