<div class="section">
  <h5 class="section-label">About Our Team</h5>
  <div>
    <div class="row">
      <div class="columns six">
        <div class="id-card">
          <div class="id-img"></div>
          <div class="id-data">
            <h4>Jay Liwanag</h4>
            Managing Director (Harvard Business School, Bain &amp; Co.)
          </div>
        </div>
      </div>  
      <div class="columns six">
        <div class="id-card">
          <div class="id-img"></div>
          <div class="id-data">
            <h4>Grace Ras</h4>
            Director (University of the Philippines, Nielsen)
          </div>
        </div>
      </div>
    </div>  
  </div>
  
  <div>
    <div class="row">
      <div class="columns six">
        <div class="id-card">
          <div class="id-img"></div>
          <div class="id-data">
            <h4>Ivy Reyes</h4>
            Director (De La Salle University, Unilever)
          </div>
        </div>
      </div>  
      <div class="columns six">
        <div class="id-card">
          <div class="id-img"></div>
          <div class="id-data">
            <h4>Rusell Hidrosollo</h4>
            Director (University of the Philippines, Nielsen)
          </div>
        </div>
      </div>
    </div>  
  </div>
  

</div>
