<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="theme-dark">
    <div class="body-hero">
      {% include header.html %}
      <div class="body-hero-carousel-container">
        <div class="body-hero-image-carousel">
          <div class="slide slide-1"></div>
          <div class="slide slide-2"></div>
          <div class="slide slide-3"></div>
        </div>
      </div>

    </div>
    

    <div class="page-content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
